body { background-color: lightskyblue; }

h1 { color: red; 
    text-align: right; }

h2 { color: black; 
    text-align: left; }

span.bold { color: orange; 
            font-weight: bold;}

span.ora { color: orange; }

span.back { color: green; 
            background-color: whitesmoke; 
            font-style: italic;}

span.black { color: black;}